<!DOCTYPE html>
<html lang="zh-CN">
<!-- head -->
<% include layout_head.ejs %><!-- /head -->

<body>
<section>
	<%- body %>
</section>

<!-- foot -->
<% include layout_foot.ejs %><!-- /foot -->
</body>
</html>