/*------ layout_head ------*/
/*------ layout_head end ------*/

/*------ layout_body ------*/
/*------ layout_body end ------*/

/*------ layout_foot ------*/
.site_copyright{
	padding: 20px 0px 20px 0px;
	font-size: 10px;
	text-align: center;
	color: #6D6D6D;
}
/*------ layout_foot end ------*/

